* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "popins";
}

body {
  background: #111317;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
}
